/* Smartphone Portrait*/

body {
    background-color: #00ffff;
}

/* Smartphone Landscape*/
@media (min-width: 576px) {
    body {
        background-color: #ffff00;
    }
}

/* Tablet Portrait*/
@media (min-width: 768px) {
    body {
        background-color: #f000a8c5;
        color: #FFFFFF;
    }
}

/* Tablet Landscape*/
@media (min-width: 992px) {
    body {
        background-color: #ff0000;
    }
}

/* notebook/PCs/SmartTv*/
@media (min-width: 1200px) {
    body {
        background-color: #00ff00;
        color: #000000;
    }
}